:root {
    --eggshell: #FEFBFB;
    --dustyRose: #FAB8A9;
    --charcole: #303038;
    --offPink: #F5D4CD;
    --orangie: #F2C7B1;
    --greenie: #E5E3D7;
}

body {
    background-color: var(--eggshell);
    font-family: 'Lora', serif;
    margin:0;
}

.navBar {
    display: flex;
    flex-direction: row;
    color: var(--charcole);
    font-size: 20px;
    font-family: 'Lora', serif;
    padding:.5em 1.0em;
}

    .navBar button {
        background: none;
        border: none;
        font-size: 20px;
        font-family: 'Lora', serif;
    }

    .navBar button:hover{
        color: var(--dustyRose);
    }


.bodyContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.recipeContainer{
    margin:0;
    margin-bottom: 1.0em;
    width: 80.0em;
    background-color:var(--orangie);
    display:flex;
    flex-direction:column;
}

    .recipeContainer h1 {
        text-align: center;
        margin:.5em;
    }

    .recipeContainer img {
        width: 350px;
        align-self: center;
        border: ridge .40em var(--offPink);
    }

    .recipeContainer h3{
        align-self:flex-start;
    }

.editRecipeContainer{
    display:flex;
    justify-content:flex-end;
}

    .editRecipeContainer button{
        padding: 1.0em;
        margin: 0 2.0em;
        font-size: 18px;
    }

.recipeInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .recipeInfo p {
        padding: 0 .75em;
        margin:1.0em ;
        font-size: 18px;
    }

.IngredientsSection{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
}

    .IngredientsSection h3 {
        margin: 1.0em 0 0 15%;
        font-size: 25px;
    }
    .IngredientsSection li {
        margin-top: 0;
        margin-left: 15%;
        font-size: 20px;
    }


.stepsContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

    .stepsContainer h3 {
        margin: 1.0em 0 0 15%;
        font-size: 25px;
    }

    .stepsContainer ol{
        max-width: 80%;
        align-self:center;
        margin:0;
        padding-bottom: 2.0em;
    }

    .stepsContainer li {
        padding: 1.0em;
        margin: 1.0em;
        font-size:20px;
    }

/*Notes section*/
.notesSection {
    padding:1.0em;
    font-size: 25px;
    background-color: var(--eggshell);
    width: 20.0em;
    min-height: 10.0em;
    margin-bottom: 1.0em;
    align-self:center;
    border: ridge .40em var(--offPink);
}

    .notesSection h3{
        margin:0;
        font-size: 22px;
    }

    .notesSection p {
        margin: 0;
        font-size: 18px;
        margin-top: .5em;
    }


/*edit Recipe page Section*/